* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
list-style-type: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    filter: drop-shadow(2px 2px 3px white);
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url("../img/background_header.jpg");
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
}

.logo {
    width: calc(50% - 20px);
    min-width: 460px;
    margin: 10px;
}

/* Nav */
nav.main-menu {
    position: sticky;
    top: 0;
    z-index: 98;
    display: flex;
    justify-content: space-between;
    background-color: navy;
}

/* Main menu */
nav.main-menu>ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav.main-menu>ul>li>a {
    padding: 0 10px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

nav.main-menu>ul>li:hover>a {
    background-color: orange;
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 2px 3px black;
}

nav.main-menu>ul>li:active>a {
    background-color: orangered;
    transform: translateY(1px) translateX(1px);
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
}

nav.main-menu>ul>li.active>a {
    background-color: orangered;
    text-shadow: 2px 2px 3px black;
    box-shadow: 1px 1px 1px black;
}

/* Tools */
nav.main-menu>.tools {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Search */
.tools>.search {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.tools>.search>input {
    width: 150px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    border: none;
    border-radius: 15px 0 0 15px;
}

.tools>.search>input:focus {
    width: 250px;
    transition: .4s;
}

.tools>.search>input::placeholder {
    font-style: italic;
}

.tools>.search>button {
    padding: 0px 10px;
    font-size: 16px;
    line-height: 28px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 0 15px 15px 0;
}

.tools>.search>button:hover {
    background-color: orangered;
    box-shadow: 2px 2px 3px black;
}

.tools>.search>button:active {
    transform: translateY(1px) translateX(1px);
    box-shadow: 1px 1px 2px black;
}

#showsearch {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 300px;
    padding: 5px;
    background-color: #fafafa;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

#showsearch a {
    color: navy;
    font-size: 14px;
}

#showsearch a:hover {
    color: orangered;
}

#showsearch>button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
    z-index: 98;
}

/* Form Login */
#dangnhap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(71,71,71,0.7);
}

#form {
    position: fixed;
    top: calc(50% - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    margin: auto 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid gray;
}

#form>div {
    width: 100%;
    margin: 5px 0;
}
#form>div>label {
    float: left;
}
#form>div>div {
    float: right;
}

#form label {
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

#form label#formname {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
}

#form a{
    font-size: 14px;
    font-weight: bold;
    color: navy;
}

#form a:hover {
    color: orangered;
}

#form label a {
    display: inline;
}

#form .dieukhoan label {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    text-indent: 20px;
}

#form input {
    width: 280px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0 5px;
}

#form input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 50px;
}

#form input[type="button"] {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    width: 150px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

#form input[type="button"]:hover {
    background-color: orangered;
}

#form input[type="button"]:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 2px black;
}

#form .showerror {
    color: red;
    font-size: 12px;
    font-style: italic;
}

#form .sex {
    display: flex;
    align-items: center;
}

#form {
    position: relative;
    margin: 20px auto;
}

#dongdangnhap {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

#dongdangnhap:hover {
    color: orangered;
}

/* Cart */
.tools>a {
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.tools>a:hover {
    color: orange;
    text-shadow: 2px 2px 3px black;
}

.tools>a:active {
    color: orangered;
    transform: translateY(1px) translateX(1px);
    text-shadow: 1px 1px 2px black;
}

.cart-shopping>i {
    position: relative;
}

.cart-shopping>i>span {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 14px;
    height: 14px;
    font-size: 9px;
    line-height: 14px;
    text-align: center;
    color: white;
    background-color: orangered;
    border-radius: 50%;
}

.tools>.cartlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 600px;
    max-height: 567px;
    background-color: #fafafa;
    text-align: center;
    color: navy;
    font-size: 14px;
    overflow-y: scroll;
}

.tools>.cartlist,th,td {
    padding: 5px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.tools>.cartlist .imgcart {
    width: 200px;
}

#cartlist a {
    color: navy;
    font-size: 14px;
    font-weight: bold;
}

#cartlist a:hover {
    color: orangered;
}

.tools>.cartlist td.thanhtoan {
    border: none;
}

.tools>.cartlist td.thanhtoan>button {
    margin: 5px 0;
    padding: 0 5px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: orange;
    box-shadow: 2px 2px 3px black;
}

.tools>.cartlist td.thanhtoan>button:hover {
    background-color: orangered;
    text-shadow: 2px 2px 3px black;
}

.tools>.cartlist td.thanhtoan>button:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
}

/* SlideShow */
.slideshow-container {
    text-align: center;
}

.slideshow {
    position: relative;
    margin: 10px 0;
}

.slideshow>.prev,.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin: 0 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transform: translateY(-10px);
}

.slideshow>.next {
    right: 0;
}

.slideshow>.prev:hover,.next:hover {
    color: orangered;
}

.slideshow .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .75;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 1;
    }
}

.slideshow-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active,.dot:hover {
    background-color: #717171;
}

/* section product*/
section>div.name {
    border-bottom: 5px solid navy;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section>div.name>span {
    color: white;
    background-color: navy;
    margin-bottom: -2px;
    padding: 10px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px 10px 0 0;
}

section>div.name>a {
    padding-right: 5px;
    font-size: 16px;
    color: navy;
}

section>div.name>a:hover {
    color: orangered;
    font-weight: bold;
}

section>div.name>a:hover::after {
    content: " ⇲";
}

section>.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article>.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product>.item {
    width: calc((100% - 45px)/4);
    padding-bottom: 5px;
    background-color: #fafafa;
    text-align: center;
}

section>.product>.item {
    border-radius: 0 0 10px 10px;
    margin-bottom: 20px;
}

article>.product>.item {
    border-radius: 10px;
    margin: 10px 0;
}

article>.product>.item img {
    border-radius: 10px 10px 0 0;
}

.product>.item:hover {
    box-shadow: 1px 1px 2px black;
}

.product>.item>a:hover>img {
    opacity: .8;
}

.product>.item>.product-name {
    color: navy;
    font-size: 16px;
    font-weight: bold;
}

.product>.item>.product-name:hover {
    color: orangered;
    text-shadow: 1px 1px 1px black;
}

.product>.item>.product-price {
    color: orangered;
    font-size: 16px;
    font-weight: 600;
}

.product>.item>button {
    width: 110px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 3px black;
    background-color: orange;
    color: white;
}

.product>.item>button:hover {
    background-color: orangered;
    text-shadow: 2px 2px 3px black;
}

.product>.item>button:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 2px black;
}

/* article heading */
article>h1 {
    margin: 10px 0;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: navy;
}

/* footer */
footer span,
a {
    font-size: 14px;
    line-height: 25px;
}

footer>.row {
    display: flex;
    background-color: #fafafa;
}

.row>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 5px;
}

.address {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.address>span {
    width: 50%;
}

.map {
    display: flex;
    justify-content: space-between;
}

.map>div {
    width: calc(100% - 5px);
}

.map iframe {
    width: calc(100% - 5px);
    height: 250px;
    margin-top: 5px;
    border: 1px solid gray;
}

.footer_menu {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_menu>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_menu>div>h3 {
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.footer_menu>div>a::before {
    content: "➤ ";
}

.footer_menu>div>a:hover {
    color: orangered;
    transform: translateX(10px);
}

.linksan>span {
    font-weight: bold;
}

.linksan>div {
    display: flex;
    justify-content: space-between;
}

.linksan>div>a {
    width: calc((100% - 10px)/3);
    background-color: aliceblue;
    border: 1px solid gray;
    border-radius: 5px;
}

.linksan>div>a:hover {
    background-color: antiquewhite;
    transform: translateX(-2px) translateY(-2px);
    box-shadow: 2px 2px 3px black;
}

p.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    border-top: 1px solid gray;
}

.backtop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: orange;
}

.backtop:hover {
    background-color: orangered;
}